version: "2"

services:
  nginx:
    mem_limit: 26214400
    image: 568063086568.dkr.ecr.eu-west-1.amazonaws.com/nginx
    links:
      - node
    ports:
      - "80:80"
    logging:
      driver: "awslogs"
      options:
        awslogs-region: "eu-west-1"
        awslogs-group: "lbv"
        awslogs-stream-prefix: "nginx"

  node:
    mem_limit: 52428800
    image: 568063086568.dkr.ecr.eu-west-1.amazonaws.com/node
    environment:
      NODE_ENV: production
      LASTFM_KEY: ${LASTFM_KEY}
      LASTFM_SECRET: ${LASTFM_SECRET}
      YOUTUBE_KEY: ${YOUTUBE_KEY}
      ROLLBAR_KEY: ${ROLLBAR_KEY}
      SPOTIFY_KEY: ${SPOTIFY_KEY}
      SPOTIFY_SECRET: ${SPOTIFY_SECRET}
    logging:
      driver: "awslogs"
      options:
        awslogs-region: "eu-west-1"
        awslogs-group: "lbv"
        awslogs-stream-prefix: "node"




