<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LBVJ - {{title}}</title>
        <meta name="description" content="Discovery youtube videos based on your lastfm and/or spotify music listening history. Watch your favorite videos that you didn't know existed">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116303106-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-116303106-1');
        </script>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon.ico">

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="{{service}}">
            <div class="container">
                <a class="info" href="/">
                    <img class="logo" src="/img/video.png" alt="video icon"/>
                    <h1>Laid Back VJ</h1>
                    <div class="tagline">Watch your favorite music videos that you didn’t know existed</div>
                </div>
                <div class="sources">
                    <a href="https://www.spotify.com" class="js-spotify" target="_blank"><img class="spotify" src="/img/spotify_black.png" alt="spotify icon"></a>
                    <a href="https://www.last.fm" class="js-lastfm lastfm" target="_blank"><img class="lastfm" src="/img/lastfm.png" alt="lastfm icon"></a>
                </a>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="/js/handlebars.min.js"></script>
        <script src="/js/dist/app.js"></script>
    </body>
</html>
