<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LBVJ - {{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/app.css">

        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="spotify">
            <div class="container">
                <div class="info">
                    <img class="logo" src="/img/video.png" alt="video icon"/>
                    <h1>Laid Back VJ</h1>
                    <div class="tagline">Watch your favorite music videos that you didn’t know existed</div>
                </div>
                <div class="sources">
                    <a href="#" class="js-spotify"><img class="spotify" src="/img/spotify.png" alt="spotify icon"></a>
                    <a href="#" class="js-lastfm lastfm"><img class="lastfm" src="/img/lastfm_black.png" alt="lastfm icon"></a>
                </div>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>

        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="/js/dist/app.js"></script>
    </body>
</html>
