@import "./settings";
@import "./components/sidebar";

input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
}

.spotify {
    color: $spotify;
}

.lastfm {
    color: $lastfm;
}

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.auth {
    padding-bottom: 20px;
}

.login {
    display: none;
}

.service-input {
    border: 2px solid;
    display: inline-block;
    &.lastfm {
        border-color: $lastfm;
    }
    &.spotify {
        border-color: $spotify;
    }
}

.now-playing {
    padding-bottom: 10px;
    .playing-logo {
        &.spotify {
            width: 15%;
        }
        &.lastfm {
            width: 15%;
        }
        &.youtube {
            width: 25%;
        }
    }
}

.spotify-button {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  background: $spotify;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, $spotify, $spotify);
  background-image: -moz-linear-gradient(top, $spotify, $spotify);
  background-image: -ms-linear-gradient(top, $spotify, $spotify);
  background-image: -o-linear-gradient(top, $spotify, $spotify);
  background-image: linear-gradient(to bottom, $spotify, $spotify);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  &:hover {
      background: #010d14;
      text-decoration: none;
  }
}

.lastfm-button {
  display: inline-block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  cursor: pointer;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: $lastfm;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
      background: #010d14;
      text-decoration: none;
  }
}
