@import "./settings";

.spotify {
    color: $spotify;
}

.lastfm {
    color: $lastfm;
}

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.auth {
    height: 60px;
}

.login {
    display: none;
}

.service-input {
    border: 2px solid;
    display: inline-block;
    &.lastfm {
        border-color: $lastfm;
    }
    &.spotify {
        border-color: $spotify;
    }
}

.now-playing {
    padding-bottom: 10px;
    .playing-logo {
        &.spotify {

        }
        &.lastfm {
            width: 15%;
        }
    }
}

.sidebar {
    float: right;
    width: 45%;
    .fa-youtube {
        position: absolute;
        &:hover {
            opacity: .5;
        }
    }
    .links {
        a {
            text-decoration: none;
        }
        margin: 0;
        padding: 0;
        li {
            .link {
                &:hover {
                    opacity: .7;
                }
            }
            .link-text {
                left: 60px;
                top: 15px;
                position: relative;
                color: black;
                &:hover {
                }
            }
            display: block;
            position: relative;
            height: 50px;
        }
    }
}

.spotify-button {
  background: $spotify;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, $spotify, $spotify);
  background-image: -moz-linear-gradient(top, $spotify, $spotify);
  background-image: -ms-linear-gradient(top, $spotify, $spotify);
  background-image: -o-linear-gradient(top, $spotify, $spotify);
  background-image: linear-gradient(to bottom, $spotify, $spotify);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  &:hover {
      background: #010d14;
      text-decoration: none;
  }
}

.lastfm-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  cursor: pointer;
  border-radius: 28px;
  margin-left: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: $lastfm;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
      background: #010d14;
      text-decoration: none;
  }
}
