@import "./settings";

header {
    height: 100px;

    &.spotify {
        background-color: $spotify;
    }
    &.lastfm, &.youtube {
        background-color: $lastfm;
    }

    .container {
        padding: 14px;
        width: 100%;
    }

    .info {
        float: left;
    }

    .sources {
        float: right;
        padding-right: 35px;
        padding-top: 8px;

        .spotify {
            width: 50px;
            padding-right: 20px;
        }

        .lastfm {
            width: 170px;
        }
    }

    h1 {
        display: inline-block;
        padding-left: 10px;
        margin: 0;
        color: white;
    }

    .tagline {
        font-style: italic;
        padding-left: 37px;
        font-size: 15px;
        color: white;
    }
}
