@import "./settings";

.sidebar {

    @media screen and (min-width: $sidebar-min) {
        float: right;
    }

    width: 45%;

    .profile {
        border-radius: 85px;
    }

    .friends {
        max-width: 275px;
        padding-bottom: 15px;
    }

    .fa-youtube {
        position: absolute;
        &:hover {
            opacity: .5;
        }
    }
    .links {
        a {
            text-decoration: none;
        }
        margin: 0;
        padding: 0;
        li {
            @media screen and (min-width: $sidebar-min) {
                padding-bottom: 0px;
            }
            padding-bottom: 25px;

            .link {
                &:hover {
                    opacity: .7;
                }
            }
            .link-text {
                left: 60px;
                top: 7px;
                @media screen and (min-width: $sidebar-min) {
                    top: 15px;
                }
                position: relative;
                color: black;
            }
            display: block;
            position: relative;
            height: 50px;
        }
    }
}
