.sidebar {
    float: right;
    width: 45%;

    .profile {
        border-radius: 85px;
    }

    .fa-youtube {
        position: absolute;
        &:hover {
            opacity: .5;
        }
    }
    .links {
        a {
            text-decoration: none;
        }
        margin: 0;
        padding: 0;
        li {
            .link {
                &:hover {
                    opacity: .7;
                }
            }
            .link-text {
                left: 60px;
                top: 15px;
                position: relative;
                color: black;
                &:hover {
                }
            }
            display: block;
            position: relative;
            height: 50px;
        }
    }
}
